@import "../../omarchy/current/theme/waybar.css";

* {
  border: none;
  border-radius: 0;
  min-height: 0;
  font-family: CaskaydiaMono Nerd Font Propo;
  font-size: 13px;
  border-radius: 4px;
}

window#waybar {
  background-color: alpha(@background, 0.9);  
  border-radius: 0px;
}

.modules-left,
.modules-right,
.modules-center {
  background-color: inherit;
  color: @foreground;
  padding: 4px 0px;
  margin: 1px 2px;
  /* border: 2px solid alpha(@foreground, 0.8); */
}

#workspaces button {
  color: @foreground;
  padding: 0 6px;
  min-width: 9px;
  border-radius: 4px;
}

#workspaces button.empty {
  opacity: 0.5;
}

#tray,
#cpu,
#clock,
#battery,
#network,
#bluetooth,
#pulseaudio,
#workspaces,
#temperature,
#custom-omarchy,
#custom-screenrecording-indicator,
#custom-update {
  background-color: inherit;
  color: @foreground;
  padding: 1px 6px;
  min-width: 12px;
  margin: 0 2px;
  border-radius: 4px;
}

#cpu:hover,
#clock:hover,
#battery:hover,
#network:hover,
#bluetooth:hover,
#pulseaudio:hover,
#temperature:hover,
#custom-omarchy:hover,
#custom-screenrecording-indicator:hover,
#custom-update:hover {
  background-color: alpha(@foreground, 0.1);
}

#custom-separator {
  color: alpha(@foreground, 0.3);
}

#custom-expand-icon {
  margin-right: 7px;
}

tooltip {
  padding: 2px;
  border-radius: 8px;
}

#custom-update {
  font-size: 10px;
}

.hidden {
  opacity: 0;
}

#custom-screenrecording-indicator {
  min-width: 12px;
  margin-left: 8.75px;
  font-size: 10px;
}

#custom-screenrecording-indicator.active {
  color: #a55555;
}
