@import "../omarchy/current/theme/waybar.css";

* {
  border: none;
  border-radius: 0;
  min-height: 0;
  font-family: CaskaydiaMono Nerd Font Propo;
  font-size: 14px;
  border-radius: 8px;
}

window#waybar {
  background-color: transparent;  
}

.modules-left {
  margin-left: 10px;
}

.modules-right {
  margin-right: 10px;
}

.modules-left,
.modules-right,
.modules-center {
  background-color: alpha(@background, 0.8);
  color: @foreground;
  padding: 4px 6px;
  margin-top: 6px;
  border: 2px solid alpha(@foreground, 0.8);
}

#workspaces button {
  color: @foreground;
  padding: 0 6px;
  min-width: 9px;
}

#workspaces button.empty {
  opacity: 0.5;
}

#tray,
#cpu,
#clock,
#battery,
#network,
#bluetooth,
#pulseaudio,
#workspaces,
#custom-omarchy,
#custom-screenrecording-indicator,
#custom-update {
  background-color: inherit;
  color: @foreground;
  padding: 1px 6px;
  min-width: 12px;
  margin: 0 2px;
  border-radius: 4px;
}

#custom-separator {
  color: @foreground;
  padding: 0px 2px;
}

#custom-expand-icon {
  margin-right: 7px;
}

tooltip {
  padding: 2px;
}

#custom-update {
  font-size: 10px;
}

.hidden {
  opacity: 0;
}

#custom-screenrecording-indicator {
  min-width: 12px;
  margin-left: 8.75px;
  font-size: 10px;
}

#custom-screenrecording-indicator.active {
  color: #a55555;
}
