@import "../omarchy/current/theme/waybar.css";

* {
  border: none;
  border-radius: 0;
  min-height: 0;
  font-family: CaskaydiaMono Nerd Font Propo;
  font-size: 14px;
  border-radius: 8px;
}

window#waybar {
  background-color: transparent;
}

.modules-left,
.modules-right {
    margin: 6px 10px;
}

#workspaces button {
  color: @foreground;
  padding: 0 6px;
  min-width: 9px;
}

#workspaces button.empty {
  opacity: 0.6;
}

#tray,
#cpu,
#clock,
#battery,
#network,
#bluetooth,
#pulseaudio,
#workspaces,
#temperature,
#memory,
#custom-omarchy,
#custom-screenrecording-indicator,
#custom-update,
#custom-media,
#custom-hw-expand-icon {
  background-color: alpha(@background, 0.8);
  color: @foreground;
  padding: 5px 10px;
  min-width: 12px;
  margin: 0 4px;
  border-radius: 2px;
  border: 1px solid alpha(@foreground, 0.3);
}

#cpu:hover,
#clock:hover,
#battery:hover,
#network:hover,
#bluetooth:hover,
#pulseaudio:hover,
#temperature:hover,
#memory:hover,
#custom-omarchy:hover,
#custom-screenrecording-indicator:hover,
#custom-update:hover,
#custom-media:hover,
#custom-hw-expand-icon:hover {
  background-color: alpha(@foreground, 0.7);
  color: @background;
}

#window {
  color: @foreground;
}

tooltip {
  padding: 2px;
}

#custom-update {
  font-size: 10px;
}

.hidden {
  opacity: 0;
}

#custom-screenrecording-indicator {
  min-width: 12px;
  margin-left: 8.75px;
  font-size: 10px;
}

#custom-screenrecording-indicator.active {
  color: #a55555;
}
